<app-header></app-header>

<div class="bg-black text-white">
	<div class="mx-2 lg:mx-auto max-w-screen-xl px-4 lg:px-10 xl:px-32 py-10 space-y-8">
		<h1 class="text-4xl font-bold">Όροι και Προϋποθέσεις (Terms & Conditions)</h1>

		<section>
			<h2 class="text-2xl font-semibold mb-2">Υπηρεσίες</h2>
			<p>Η Tulehood IKE παρέχει διαδικτυακή κράτηση ραντεβού για κομμωτικές υπηρεσίες (π.χ. faircut).</p>
		</section>

		<section>
			<h2 class="text-2xl font-semibold mb-2">Κράτηση & Ακύρωση</h2>
			<ul class="list-disc list-inside space-y-1">
				<li>Οι χρήστες οφείλουν να ακυρώσουν το ραντεβού τους τουλάχιστον 24 ώρες πριν από την ημερομηνία.</li>
				<li>Απουσίες χωρίς ειδοποίηση μπορεί να επιφέρουν χρέωση ύψους 50% της τιμής της υπηρεσίας.</li>
			</ul>
		</section>

		<section>
			<h2 class="text-2xl font-semibold mb-2">Ευθύνες Χρηστών</h2>
			<ul class="list-disc list-inside space-y-1">
				<li>Παροχή ακριβών πληροφοριών κατά την κράτηση.</li>
				<li>Καθήκοντα προσέλευσης εγκαίρως για το ραντεβού.</li>
			</ul>
		</section>

		<section>
			<h2 class="text-2xl font-semibold mb-2">Περιορισμός Ευθύνης</h2>
			<p>Η Tulehood IKE δεν ευθύνεται για ζημιές λόγω αδυναμίας παροχής υπηρεσιών από τρίτους (π.χ. τεχνικά προβλήματα ιστότοπου).</p>
		</section>

		<section>
			<h2 class="text-2xl font-semibold mb-2">Αλλαγές Όρων</h2>
			<p>Δικαίωμα τροποποίησης των όρων ανά πάσα στιγμή. Οι ενημερωμένοι όροι θα αναρτώνται στον ιστότοπο.</p>
		</section>

		<section>
			<h2 class="text-2xl font-semibold mb-2">Δικαιοδοσία</h2>
			<p>Οι παρόντες όροι διέπονται από το Ελληνικό Δίκαιο. Τυχόν διαφορές θα επιλύονται στα δικαστήρια της Ελλάδας.</p>
		</section>
	</div>
</div>

<app-footer></app-footer>
