<app-header></app-header>

<app-banner></app-banner>

<!-- <app-book-button></app-book-button> -->

<main class="bg-black">
  <h1
    class="bg-black text-center text-white font-semibold text-3xl py-14 tracking-wide"
  >
    Main title or Button
  </h1>
  <section
    class="bg-black pt-1 pb-1 md:pb-18 space-y-4 px-4 lg:px-10 xl:px-32 max-w-[1600px] mx-auto"
    aria-label="Introductory content"
  >
    <div class="flex flex-col md:flex-row gap-4 mb-8">
      <figure
        class="md:w-1/2 h-[inherit] min-h-64 md:min-h-80 overflow-hidden relative"
      >
        <img
          src="banner.webp"
          class="absolute top-0 left-0 w-full h-full transition-transform duration-100 ease-linear object-cover"
          [ngStyle]="{ transform: 'translateY(' + translateY + 'px)' }"
        />
      </figure>
      <article class="bg-black text-white md:w-1/2 px-4 py-6 rounded-lg">
        <h2
          class="text-lg font-semibold mb-4 border-b border-white tracking-wide"
        >
          Title Goes Here
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit
          amet eleifend velit, eu rutrum tortor. Duis in fermentum lorem. Nunc
          bibendum turpis eu lacinia porttitor ut justo ligula, suscipit nec
          erat id Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Maecenas sit amet eleifend velit, eu rutrum tortor. Duis in fermentum
          lorem. Nunc bibendum turpis eu lacinia porttitor ut justo ligula,
          suscipit nec erat id Lorem ipsum dolor sit amet, consectetur
          adipiscing elit.
        </p>
      </article>
    </div>

    <div class="flex flex-col md:flex-row gap-4">
      <article class="bg-black text-white md:w-1/2 px-4 py-6 text-right">
        <h2
          class="text-lg font-semibold mb-4 border-b border-white tracking-wide"
        >
          Another Title
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit
          amet eleifend velit, eu rutrum tortor. Duis in fermentum lorem. Nunc
          bibendum turpis eu lacinia porttitor ut justo ligula, suscipit nec
          erat id Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Maecenas sit amet eleifend velit, eu rutrum tortor. Duis in fermentum
          lorem. Nunc bibendum turpis eu lacinia porttitor ut justo ligula,
          suscipit nec erat id Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Maecenas sit amet eleifend velit, eu rutrum tortor.
          Duis in fermentum lorem.
        </p>
      </article>
      <figure
        class="md:w-1/2 h-[inherit] min-h-64 md:min-h-80 overflow-hidden relative"
      >
        <img
          src="banner.webp"
          class="absolute top-0 left-0 w-full h-full transition-transform duration-100 ease-linear object-cover"
          [ngStyle]="{ transform: 'translateY(' + translateY + 'px)' }"
        />
      </figure>
    </div>
  </section>

  <section
    class="bg-black p-8 space-y-4 px-4 lg:px-10 xl:px-32 max-w-[1600px] mx-auto"
    aria-label="Team highlights"
  >
    <div class="flex flex-col md:flex-row gap-6 md:gap-4">
      <article
        class="bg-[#1e1e1e] rounded-xl w-full md:w-1/3 p-6 lg:p-10 flex flex-col items-center text-center transition-all duration-300 hover:-translate-y-[4px]"
      >
        <img
          src="white.png"
          alt="Profile image"
          class="w-30 h-30 rounded-full mb-5"
        />
        <h3 class="text-gray-300 text-xl font-semibold">Tule</h3>
        <span class="text-gray-300 italic mb-3">Tattoo / Senior Barber</span>
        <p class="text-sm text-gray-300">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit
          amet eleifend velit, eu rutrum tortor. Duis in fermentum lorem. Nunc
          bibendum turpis eu lacinia porttitor ut justo ligula, suscipit nec
          erat id
        </p>
      </article>

      <article
        class="bg-[#1e1e1e] rounded-xl w-full md:w-1/3 p-6 lg:p-10 flex flex-col items-center text-center transition-all duration-300 hover:-translate-y-[4px]"
      >
        <img
          src="white.png"
          alt="Profile image"
          class="w-30 h-30 rounded-full mb-5"
        />
        <h3 class="text-gray-300 text-xl font-semibold">Tule</h3>
        <span class="text-gray-300 italic mb-3">Barber</span>
        <p class="text-sm text-gray-300">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit
          amet eleifend velit, eu rutrum tortor. Duis in fermentum lorem. Nunc
          bibendum turpis eu lacinia porttitor ut justo ligula, suscipit nec
          erat id
        </p>
      </article>
      <article
        class="bg-[#1e1e1e] rounded-xl w-full md:w-1/3 p-6 lg:p-10 flex flex-col items-center text-center transition-all duration-300 hover:-translate-y-[4px]"
      >
        <img
          src="white.png"
          alt="Profile image"
          class="w-30 h-30 rounded-full mb-5"
        />
        <h3 class="text-gray-300 text-xl font-semibold">Tule</h3>
        <span class="text-gray-300 italic mb-3">Piercer</span>
        <p class="text-sm text-gray-300">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit
          amet eleifend velit, eu rutrum tortor. Duis in fermentum lorem. Nunc
          bibendum turpis eu lacinia porttitor ut justo ligula, suscipit nec
          erat id
        </p>
      </article>
    </div>
  </section>
</main>

<app-book-button></app-book-button>

<app-footer></app-footer>
