<form (ngSubmit)="onSubmit()" #bookingForm="ngForm">
  <div class="text-left mb-4">
    <p><strong>Κουρέας:</strong> {{ selectedArtistName }}</p>
    <p><strong>Υπηρεσία:</strong> {{ selectedServiceName }}</p>
    <p><strong>Ημερομηνία:</strong> {{ selectedDate | date : "fullDate" : undefined : 'el' }}</p>
    <p><strong>Ώρα:</strong> {{ selectedTime }}</p>
  </div>

  <div class="space-y-4">
    <div class="text-left">
      <label for="firstName" class="block text-sm font-medium text-gray-700"
        >*Όνομα</label
      >
      <input
        type="text"
        id="firstName"
        name="firstName"
        [(ngModel)]="firstName"
        required
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-gray-500 focus:border-gray-500"
      />
    </div>

    <div class="text-left">
      <label for="lastName" class="block text-sm font-medium text-gray-700"
        >*Επώνυμο</label
      >
      <input
        type="text"
        id="lastName"
        name="lastName"
        [(ngModel)]="lastName"
        required
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-gray-500 focus:border-gray-500"
      />
    </div>

    <div class="text-left">
      <label for="phone" class="block text-sm font-medium text-gray-700"
        >*Τηλέφωνο</label
      >
      <input
        type="tel"
        id="phone"
        name="phone"
        [(ngModel)]="phone"
        required
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-gray-500 focus:border-gray-500"
      />
    </div>

    <div class="text-left">
      <label for="email" class="block text-sm font-medium text-gray-700"
        >*Email</label
      >
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="email"
        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
        required
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-gray-500 focus:border-gray-500"
      />
    </div>
  </div>

  <div style="display:none;">
    <label for="honeypot">Leave this field empty</label>
    <input type="text" id="honeypot" name="honeypot" [(ngModel)]="honeypot">
  </div>
  
  <button
    type="submit"
    [disabled]="!bookingForm.form.valid || isSubmitting"
    [ngClass]="{
      'bg-black text-white hover:bg-gray-800 cursor-pointer': bookingForm.form.valid && !isSubmitting,
      'bg-gray-400 text-gray-600 cursor-not-allowed': !bookingForm.form.valid || isSubmitting,
      'cursor-wait': isSubmitting
    }"
    class="w-full py-2 px-4 mt-5 rounded-md transition-colors"
  >
    Κράτηση
  </button>
</form>
