<footer class="bg-black" role="contentinfo">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <a href="/" class="flex items-center">
                    <img src="icon.png" class="h-13 me-3" alt="Tule Hood logo">
                    <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Tule Hood</span>
                </a>
            </div>
            <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-100 uppercase">Επικοινωνηστε</h2>
                    <ul class="text-gray-300 font-medium">
                        <li class="mb-4"><a href="https://www.instagram.com/tule_hood/"
                                class="hover:underline">Instagram</a></li>
                        <li class="mb-4"><a href="tel:+302299072700" class="hover:underline">Τηλέφωνο</a></li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-100 uppercase">Legal</h2>
                    <ul class="text-gray-300 font-medium">
                        <li class="mb-4"><a href="#" class="hover:underline">Privacy Policy</a></li>
                        <li><a href="#" class="hover:underline">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-100 uppercase">Ωραριο</h2>
                    <ul class="text-gray-300 font-medium">
                        <li><strong class="text-white">Δευτέρα:</strong> 17:00 – 21:00</li>
                        <li><strong class="text-white">Τρίτη:</strong> 10:00 – 14:00 & 17:00 – 21:00</li>
                        <li><strong class="text-white">Τετάρτη:</strong> 10:00 – 14:00</li>
                        <li><strong class="text-white">Πέμπτη:</strong> 10:00 – 14:00 & 17:00 – 21:00</li>
                        <li><strong class="text-white">Παρασκευή:</strong> 10:00 – 14:00 & 17:00 – 21:00</li>
                        <li><strong class="text-white">Σάββατο:</strong> 10:00 – 18:00</li>
                        <li><strong class="text-white">Κυριακή:</strong> Κλειστά</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm text-gray-300 sm:text-center">© 2025 Tule Hood. All Rights Reserved.</span>
        </div>
    </div>
</footer>