<footer class="bg-black" role="contentinfo">
  <div class="mx-2 lg:mx-auto max-w-screen-xl p-4 lg:py-8">
    <div
      class="flex flex-col lg:flex-row md:gap-12 lg:gap-36 border-t border-gray-200 pt-8"
    >
      <div class="mb-8 mx-auto md:mb-0 w-max">
        <a href="/" class="flex items-center w-max">
          <img src="icon.png" class="h-13 me-3" alt="Tule Hood logo" />
          <span
            class="self-center text-2xl font-semibold whitespace-nowrap text-white"
            >Tule Hood</span
          >
        </a>
      </div>
      <!-- <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3"> -->
      <div class="w-full flex flex-col md:flex-row md:justify-between">
        <div>
          <h2
            class="mb-4 md:mb-6 text-sm font-semibold text-gray-100 uppercase"
          >
            Επικοινωνηστε
          </h2>
          <ul class="text-gray-300 font-medium mb-6">
            <li class="mb-2 md:mb-4">
              <a
                href="https://www.instagram.com/tule_hood/"
                class="inline-block no-underline bg-[linear-gradient(to_right,white_0%,white_100%)] bg-no-repeat bg-[length:0_1px] bg-[position:left_bottom] transition-[background-size] [transition-duration:550ms] [transition-timing-function:cubic-bezier(0.2,0.75,0.5,1)] hover:bg-[length:100%_1px]"
                >Instagram</a
              >
            </li>
            <li class="mb-2 md:mb-4">
              <a
                href="tel:+302299072700"
                class="inline-block no-underline bg-[linear-gradient(to_right,white_0%,white_100%)] bg-no-repeat bg-[length:0_1px] bg-[position:left_bottom] transition-[background-size] [transition-duration:550ms] [transition-timing-function:cubic-bezier(0.2,0.75,0.5,1)] hover:bg-[length:100%_1px]"
                >Τηλέφωνο</a
              >
            </li>

            <li class="mb-4">
              <a href="https://maps.google.com" target="_blank"
                >Διεύθυνση 77, Αττική Ελλάδα</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h2
            class="mb-4 md:mb-6 text-sm font-semibold text-gray-100 uppercase"
          >
            Legal
          </h2>
          <ul class="text-gray-300 font-medium mb-6">
            <li class="mb-2 md:mb-4">
              <a
                href="#"
                class="inline-block no-underline bg-[linear-gradient(to_right,white_0%,white_100%)] bg-no-repeat bg-[length:0_1px] bg-[position:left_bottom] transition-[background-size] [transition-duration:550ms] [transition-timing-function:cubic-bezier(0.2,0.75,0.5,1)] hover:bg-[length:100%_1px]"
                >Privacy Policy</a
              >
            </li>
            <li>
              <a
                href="#"
                class="inline-block no-underline bg-[linear-gradient(to_right,white_0%,white_100%)] bg-no-repeat bg-[length:0_1px] bg-[position:left_bottom] transition-[background-size] [transition-duration:550ms] [transition-timing-function:cubic-bezier(0.2,0.75,0.5,1)] hover:bg-[length:100%_1px]"
                >Terms &amp; Conditions</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h2
            class="mb-4 md:mb-6 text-sm font-semibold text-gray-100 uppercase"
          >
            Ωραριο
          </h2>
          <ul class="text-gray-300 font-medium">
            <li><strong class="text-white">Δευτέρα:</strong> 17:00 – 21:00</li>
            <li>
              <strong class="text-white">Τρίτη:</strong> 10:00 – 14:00 & 17:00 –
              21:00
            </li>
            <li><strong class="text-white">Τετάρτη:</strong> 10:00 – 14:00</li>
            <li>
              <strong class="text-white">Πέμπτη:</strong> 10:00 – 14:00 & 17:00
              – 21:00
            </li>
            <li>
              <strong class="text-white">Παρασκευή:</strong> 10:00 – 14:00 &
              17:00 – 21:00
            </li>
            <li><strong class="text-white">Σάββατο:</strong> 10:00 – 18:00</li>
            <li><strong class="text-white">Κυριακή:</strong> Κλειστά</li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-gray-300 sm:text-center"
        >© 2025 Tule Hood. All Rights Reserved.</span
      >
    </div>
  </div>
</footer>
